<%- include('partials/header.ejs') %> 

    <h1>Find a food place near you!</h1>

<form action="/findResults" method="get">
  <div class="mb-3 row">
    <label for="exampleInputEmail1" class="form-label">Enter your location:</label>
    <div class="col-sm-10">
    <input type="search" class="form-control" id="location" name="location" placeholder="Enter your location">
  </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('partials/footer.ejs') %> 

